{% extends 'Base.html' %}
{% load static %}
{% block title %}Tech {% endblock %}

{% block main %}
<nav class="w-full bg-blue-600 "></nav>
<h1>Welcome</h1>
{% endblock %}


def register(request):
    if request.method == 'POST':
        form = RegistrationForms(request.POST)
        if form.is_valid():
            user = form.save() 
            login(request, user)  
            return redirect('dashboard')  
        else:
            return render(request, 'account/Register.html', {'form': form})
    else:
        form = RegistrationForms()  

    return render(request, 'account/Register.html', {'form': form})